---

runtime:
  num_cpus: 2
  num_runtimes: 2

logging:
  log_level: "info"

envoy_bootstrap:
  node:
    id: "${NODE_ID}"
    cluster: "waypoint.${NAMESPACE}"
    metadata:
      NAMESPACE: "${NAMESPACE}"
      NODE_NAME: "${NODE_NAME}"
      ENABLE_HBONE: "true"
      LABELS:
        gateway.networking.k8s.io/gateway-name: "orion-waypoint"
        istio.io/dataplane-mode: "none"
        service.istio.io/canonical-name: "orion-waypoint"
        sidecar.istio.io/inject: "false"
        gateway.istio.io/managed: "istio.io-mesh-controller"
      INSTANCE_IPS: "${POD_IP}"
      METADATA_DISCOVERY: "true"
      SERVICE_ACCOUNT: "${SERVICE_ACCOUNT}"
      CLUSTER_ID: "Kubernetes"
      NAME: "${POD_NAME}"
      MESH_ID: "cluster.local"
      WORKLOAD_NAME: "orion-waypoint"
      ISTIO_VERSION: "1.27.3"
      INTERCEPTION_MODE: "REDIRECT"
      ENVOY_STATUS_PORT: 15021
      ENVOY_PROMETHEUS_PORT: 15090
      PILOT_SAN:
        - "istiod.istio-system.svc"

  dynamic_resources:
    ads_config:
      api_type: GRPC
      transport_api_version: V3
      grpc_services:
        - envoy_grpc:
            cluster_name: xds_cluster

  static_resources:
    clusters:
      - name: xds_cluster
        connect_timeout: 0.25s
        type: STRICT_DNS
        lb_policy: ROUND_ROBIN
        typed_extension_protocol_options:
          envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
            "@type": type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
            explicit_http_config:
              http2_protocol_options: {}
        load_assignment:
          cluster_name: xds_cluster
          endpoints:
            - lb_endpoints:
                - endpoint:
                    address:
                      socket_address:
                        address: istiod.istio-system.svc.cluster.local
                        port_value: 15010
        
    listeners:
      - name: health_check
        address:
          socket_address:
            address: 0.0.0.0
            port_value: 15021
        filter_chains:
          - filters:
              - name: envoy.filters.network.http_connection_manager
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                  stat_prefix: health
                  route_config:
                    name: health_route
                    virtual_hosts:
                      - name: health
                        domains: ["*"]
                        routes:
                          - match:
                              prefix: "/healthz"
                            direct_response:
                              status: 200
                              body:
                                inline_string: "OK"
                  http_filters:
                    - name: envoy.filters.http.router
                      typed_config:
                        "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
